<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= product.name.toUpperCase() %>
    </title>
</head>

<body>
    <h1>
        <%= product.name %> - <%= product.price %>
    </h1>

    <a href="/product">All Products</a>

</body>

</html>